:root {
  --principal: #bc1c0a;
  --secundaria: #ffeb0c;
  --whatsapp: #33af23;
}

/* Alert */
.sweet-alert,.sweet-overlay{position:fixed;display:none}body.stop-scrolling{height:100%;overflow:hidden}.sweet-overlay{background-color:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";background-color:rgba(0,0,0,.4);left:0;right:0;top:0;bottom:0;z-index:10000}.sweet-alert{background-color:#fff;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;width:478px;padding:17px;border-radius:5px;text-align:center;left:50%;top:50%;margin-left:-256px;margin-top:-200px;overflow:hidden;z-index:99999}@media all and (max-width:540px){.sweet-alert{width:auto;margin-left:0;margin-right:0;left:15px;right:15px}}.sweet-alert h2{color:#575757;font-size:30px;text-align:center;font-weight:600;text-transform:none;position:relative;margin:25px 0;padding:0;line-height:40px;display:block}.sweet-alert p{color:#797979;font-size:16px;font-weight:300;position:relative;text-align:inherit;float:none;margin:0;padding:0;line-height:normal}.sweet-alert fieldset{border:none;position:relative}.sweet-alert .sa-error-container{background-color:#f1f1f1;margin-left:-17px;margin-right:-17px;overflow:hidden;padding:0 10px;max-height:0;webkit-transition:padding .15s,max-height .15s;transition:padding .15s,max-height .15s}.sweet-alert .sa-error-container.show{padding:10px 0;max-height:100px;webkit-transition:padding .2s,max-height .2s;transition:padding .25s,max-height .25s}.sweet-alert .sa-error-container .icon{display:inline-block;width:24px;height:24px;border-radius:50%;background-color:#ea7d7d;color:#fff;line-height:24px;text-align:center;margin-right:3px}.sweet-alert .sa-error-container p{display:inline-block}.sweet-alert .sa-input-error{position:absolute;top:29px;right:26px;width:20px;height:20px;opacity:0;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:all .1s;transition:all .1s}.sweet-alert .sa-input-error::after,.sweet-alert .sa-input-error::before{content:"";width:20px;height:6px;background-color:#f06e57;border-radius:3px;position:absolute;top:50%;margin-top:-4px;left:50%;margin-left:-9px}.sweet-alert .sa-input-error::before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-input-error::after{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-input-error.show{opacity:1;-webkit-transform:scale(1);transform:scale(1)}.sweet-alert input{width:100%;box-sizing:border-box;border-radius:3px;border:1px solid #d7d7d7;height:43px;margin-top:10px;margin-bottom:17px;font-size:18px;box-shadow:inset 0 1px 1px rgba(0,0,0,.06);padding:0 12px;display:none;-webkit-transition:all .3s;transition:all .3s}.sweet-alert input:focus{outline:0;box-shadow:0 0 3px #c4e6f5;border:1px solid #b4dbed}.sweet-alert input:focus::-moz-placeholder{transition:opacity .3s 30ms ease;opacity:.5}.sweet-alert input:focus:-ms-input-placeholder{transition:opacity .3s 30ms ease;opacity:.5}.sweet-alert input:focus::-webkit-input-placeholder{transition:opacity .3s 30ms ease;opacity:.5}.sweet-alert input::-moz-placeholder{color:#bdbdbd}.sweet-alert input::-ms-clear{display:none}.sweet-alert input:-ms-input-placeholder{color:#bdbdbd}.sweet-alert input::-webkit-input-placeholder{color:#bdbdbd}.sweet-alert.show-input input{display:block}.sweet-alert .sa-confirm-button-container{display:inline-block;position:relative}.sweet-alert .la-ball-fall{position:absolute;left:50%;top:50%;margin-left:-27px;margin-top:4px;opacity:0;visibility:hidden}.sweet-alert button{background-color:#8CD4F5;color:#fff;border:none;box-shadow:none;font-size:17px;font-weight:500;-webkit-border-radius:4px;border-radius:5px;padding:10px 32px;margin:26px 5px 0;cursor:pointer}.sweet-alert button:focus{outline:0;box-shadow:0 0 2px rgba(128,179,235,.5),inset 0 0 0 1px rgba(0,0,0,.05)}.sweet-alert button:hover{background-color:#7ecff4}.sweet-alert button:active{background-color:#5dc2f1}.sweet-alert button.cancel{background-color:#C1C1C1}.sweet-alert button.cancel:hover{background-color:#b9b9b9}.sweet-alert button.cancel:active{background-color:#a8a8a8}.sweet-alert button.cancel:focus{box-shadow:rgba(197,205,211,.8) 0 0 2px,rgba(0,0,0,.0470588) 0 0 0 1px inset!important}.sweet-alert button[disabled]{opacity:.6;cursor:default}.sweet-alert button.confirm[disabled]{color:transparent}.sweet-alert button.confirm[disabled]~.la-ball-fall{opacity:1;visibility:visible;transition-delay:0s}.sweet-alert button::-moz-focus-inner{border:0}.sweet-alert[data-has-cancel-button=false] button{box-shadow:none!important}.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false]{padding-bottom:40px}.sweet-alert .sa-icon{width:80px;height:80px;border:4px solid gray;-webkit-border-radius:40px;border-radius:50%;margin:20px auto;padding:0;position:relative;box-sizing:content-box}.sweet-alert .sa-icon.sa-error{border-color:#F27474}.sweet-alert .sa-icon.sa-error .sa-x-mark{position:relative;display:block}.sweet-alert .sa-icon.sa-error .sa-line{position:absolute;height:5px;width:47px;background-color:#F27474;display:block;top:37px;border-radius:2px}.sweet-alert .sa-icon.sa-error .sa-line.sa-left{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:17px}.sweet-alert .sa-icon.sa-error .sa-line.sa-right{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);right:16px}.sweet-alert .sa-icon.sa-warning{border-color:#F8BB86}.sweet-alert .sa-icon.sa-warning .sa-body{position:absolute;width:5px;height:47px;left:50%;top:10px;-webkit-border-radius:2px;border-radius:2px;margin-left:-2px;background-color:#F8BB86}.sweet-alert .sa-icon.sa-warning .sa-dot{position:absolute;width:7px;height:7px;-webkit-border-radius:50%;border-radius:50%;margin-left:-3px;left:50%;bottom:10px;background-color:#F8BB86}.sweet-alert .sa-icon.sa-info::after,.sweet-alert .sa-icon.sa-info::before{content:"";background-color:#C9DAE1;left:50%;position:absolute}.sweet-alert .sa-icon.sa-info{border-color:#C9DAE1}.sweet-alert .sa-icon.sa-info::before{width:5px;height:29px;bottom:17px;border-radius:2px;margin-left:-2px}.sweet-alert .sa-icon.sa-info::after{width:7px;height:7px;border-radius:50%;margin-left:-3px;top:19px}.sweet-alert .sa-icon.sa-success{border-color:#A5DC86}.sweet-alert .sa-icon.sa-success::after,.sweet-alert .sa-icon.sa-success::before{content:'';position:absolute;width:60px;height:120px;background:#fff}.sweet-alert .sa-icon.sa-success::before{-webkit-border-radius:120px 0 0 120px;border-radius:120px 0 0 120px;top:-7px;left:-33px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:60px 60px;transform-origin:60px 60px}.sweet-alert .sa-icon.sa-success::after{-webkit-border-radius:0 120px 120px 0;border-radius:0 120px 120px 0;top:-11px;left:30px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 60px;transform-origin:0 60px}.sweet-alert .sa-icon.sa-success .sa-placeholder{width:80px;height:80px;border:4px solid rgba(165,220,134,.2);-webkit-border-radius:40px;border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}.sweet-alert .sa-icon.sa-success .sa-fix{width:5px;height:90px;background-color:#fff;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-icon.sa-success .sa-line{height:5px;background-color:#A5DC86;display:block;border-radius:2px;position:absolute;z-index:2}.sweet-alert .sa-icon.sa-success .sa-line.sa-tip{width:25px;left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-icon.sa-success .sa-line.sa-long{width:47px;right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-icon.sa-custom{background-size:contain;border-radius:0;border:none;background-position:center center;background-repeat:no-repeat}@-webkit-keyframes showSweetAlert{0%{transform:scale(.7);-webkit-transform:scale(.7)}45%{transform:scale(1.05);-webkit-transform:scale(1.05)}80%{transform:scale(.95);-webkit-transform:scale(.95)}100%{transform:scale(1);-webkit-transform:scale(1)}}@keyframes showSweetAlert{0%{transform:scale(.7);-webkit-transform:scale(.7)}45%{transform:scale(1.05);-webkit-transform:scale(1.05)}80%{transform:scale(.95);-webkit-transform:scale(.95)}100%{transform:scale(1);-webkit-transform:scale(1)}}@-webkit-keyframes hideSweetAlert{0%{transform:scale(1);-webkit-transform:scale(1)}100%{transform:scale(.5);-webkit-transform:scale(.5)}}@keyframes hideSweetAlert{0%{transform:scale(1);-webkit-transform:scale(1)}100%{transform:scale(.5);-webkit-transform:scale(.5)}}@-webkit-keyframes slideFromTop{0%{top:0}100%{top:50%}}@keyframes slideFromTop{0%{top:0}100%{top:50%}}@-webkit-keyframes slideToTop{0%{top:50%}100%{top:0}}@keyframes slideToTop{0%{top:50%}100%{top:0}}@-webkit-keyframes slideFromBottom{0%{top:70%}100%{top:50%}}@keyframes slideFromBottom{0%{top:70%}100%{top:50%}}@-webkit-keyframes slideToBottom{0%{top:50%}100%{top:70%}}@keyframes slideToBottom{0%{top:50%}100%{top:70%}}.showSweetAlert[data-animation=pop]{-webkit-animation:showSweetAlert .3s;animation:showSweetAlert .3s}.showSweetAlert[data-animation=none]{-webkit-animation:none;animation:none}.showSweetAlert[data-animation=slide-from-top]{-webkit-animation:slideFromTop .3s;animation:slideFromTop .3s}.showSweetAlert[data-animation=slide-from-bottom]{-webkit-animation:slideFromBottom .3s;animation:slideFromBottom .3s}.hideSweetAlert[data-animation=pop]{-webkit-animation:hideSweetAlert .2s;animation:hideSweetAlert .2s}.hideSweetAlert[data-animation=none]{-webkit-animation:none;animation:none}.hideSweetAlert[data-animation=slide-from-top]{-webkit-animation:slideToTop .4s;animation:slideToTop .4s}.hideSweetAlert[data-animation=slide-from-bottom]{-webkit-animation:slideToBottom .3s;animation:slideToBottom .3s}@-webkit-keyframes animateSuccessTip{0%,54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@keyframes animateSuccessTip{0%,54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@-webkit-keyframes animateSuccessLong{0%,65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@keyframes animateSuccessLong{0%,65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@-webkit-keyframes rotatePlaceholder{0%,5%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}100%,12%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}}@keyframes rotatePlaceholder{0%,5%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}100%,12%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}}.animateSuccessTip{-webkit-animation:animateSuccessTip .75s;animation:animateSuccessTip .75s}.animateSuccessLong{-webkit-animation:animateSuccessLong .75s;animation:animateSuccessLong .75s}.sa-icon.sa-success.animate::after{-webkit-animation:rotatePlaceholder 4.25s ease-in;animation:rotatePlaceholder 4.25s ease-in}@-webkit-keyframes animateErrorIcon{0%{transform:rotateX(100deg);-webkit-transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);-webkit-transform:rotateX(0);opacity:1}}@keyframes animateErrorIcon{0%{transform:rotateX(100deg);-webkit-transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);-webkit-transform:rotateX(0);opacity:1}}.animateErrorIcon{-webkit-animation:animateErrorIcon .5s;animation:animateErrorIcon .5s}@-webkit-keyframes animateXMark{0%,50%{transform:scale(.4);-webkit-transform:scale(.4);margin-top:26px;opacity:0}80%{transform:scale(1.15);-webkit-transform:scale(1.15);margin-top:-6px}100%{transform:scale(1);-webkit-transform:scale(1);margin-top:0;opacity:1}}@keyframes animateXMark{0%,50%{transform:scale(.4);-webkit-transform:scale(.4);margin-top:26px;opacity:0}80%{transform:scale(1.15);-webkit-transform:scale(1.15);margin-top:-6px}100%{transform:scale(1);-webkit-transform:scale(1);margin-top:0;opacity:1}}.animateXMark{-webkit-animation:animateXMark .5s;animation:animateXMark .5s}@-webkit-keyframes pulseWarning{0%{border-color:#F8D486}100%{border-color:#F8BB86}}@keyframes pulseWarning{0%{border-color:#F8D486}100%{border-color:#F8BB86}}.pulseWarning{-webkit-animation:pulseWarning .75s infinite alternate;animation:pulseWarning .75s infinite alternate}@-webkit-keyframes pulseWarningIns{0%{background-color:#F8D486}100%{background-color:#F8BB86}}@keyframes pulseWarningIns{0%{background-color:#F8D486}100%{background-color:#F8BB86}}.pulseWarningIns{-webkit-animation:pulseWarningIns .75s infinite alternate;animation:pulseWarningIns .75s infinite alternate}@-webkit-keyframes rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@keyframes rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.sweet-alert .sa-icon.sa-error .sa-line.sa-left{-ms-transform:rotate(45deg)\9}.sweet-alert .sa-icon.sa-error .sa-line.sa-right{-ms-transform:rotate(-45deg)\9}.sweet-alert .sa-icon.sa-success{border-color:transparent\9}.sweet-alert .sa-icon.sa-success .sa-line.sa-tip{-ms-transform:rotate(45deg)\9}.sweet-alert .sa-icon.sa-success .sa-line.sa-long{-ms-transform:rotate(-45deg)\9}
.la-ball-fall,.la-ball-fall>div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.la-ball-fall{display:block;font-size:0;color:#fff;width:54px;height:18px}.la-ball-fall.la-dark{color:#333}.la-ball-fall>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor;width:10px;height:10px;margin:4px;border-radius:100%;opacity:0;-webkit-animation:ball-fall 1s ease-in-out infinite;-moz-animation:ball-fall 1s ease-in-out infinite;-o-animation:ball-fall 1s ease-in-out infinite;animation:ball-fall 1s ease-in-out infinite}.la-ball-fall>div:nth-child(1){-webkit-animation-delay:-.2s;-moz-animation-delay:-.2s;-o-animation-delay:-.2s;animation-delay:-.2s}.la-ball-fall>div:nth-child(2){-webkit-animation-delay:-.1s;-moz-animation-delay:-.1s;-o-animation-delay:-.1s;animation-delay:-.1s}.la-ball-fall>div:nth-child(3){-webkit-animation-delay:0s;-moz-animation-delay:0s;-o-animation-delay:0s;animation-delay:0s}.la-ball-fall.la-sm{width:26px;height:8px}.la-ball-fall.la-sm>div{width:4px;height:4px;margin:2px}.la-ball-fall.la-2x{width:108px;height:36px}.la-ball-fall.la-2x>div{width:20px;height:20px;margin:8px}.la-ball-fall.la-3x{width:162px;height:54px}.la-ball-fall.la-3x>div{width:30px;height:30px;margin:12px}@-webkit-keyframes ball-fall{0%{opacity:0;-webkit-transform:translateY(-145%);transform:translateY(-145%)}10%,90%{opacity:.5}20%,80%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(145%);transform:translateY(145%)}}@-moz-keyframes ball-fall{0%{opacity:0;-moz-transform:translateY(-145%);transform:translateY(-145%)}10%,90%{opacity:.5}20%,80%{opacity:1;-moz-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(145%);transform:translateY(145%)}}@-o-keyframes ball-fall{0%{opacity:0;-o-transform:translateY(-145%);transform:translateY(-145%)}10%,90%{opacity:.5}20%,80%{opacity:1;-o-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-o-transform:translateY(145%);transform:translateY(145%)}}@keyframes ball-fall{0%{opacity:0;-webkit-transform:translateY(-145%);-moz-transform:translateY(-145%);-o-transform:translateY(-145%);transform:translateY(-145%)}10%,90%{opacity:.5}20%,80%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(145%);-moz-transform:translateY(145%);-o-transform:translateY(145%);transform:translateY(145%)}}
/* Pop Up */
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-ready .mfp-preloader{display:none}.mfp-s-error .mfp-content{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:rgba(52,52,60,.8);border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:35px;height:35px;line-height:1.4;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:26px;border-radius:3px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{position:absolute;top:50px;right:10px;color:#fff;text-align:center}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px;white-space:nowrap}.mfp-arrow{position:absolute;opacity:.65;margin:0;top:50%;margin-top:-15px;padding:2px;width:35px;height:35px;border-radius:3px;-webkit-tap-highlight-color:transparent}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;border:medium inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{font-family:FontAwesome;font-size:18px;line-height:1.7;color:#fff;margin-left:12px}.mfp-arrow-left{left:60px}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{content:"\f104"}.mfp-arrow-right{right:60px}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{content:"\f105"}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto}.mfp-figure{line-height:0}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
/* GDPR */
:root{--diviaGDPRLight:#ffffff;--diviaGDPRDark:#393d4d}#diviaGDPR *{margin:0;padding:0;text-decoration:none;list-style:none;-webkit-box-sizing:border-box;box-sizing:border-box}#diviaGDPR a,#diviaGDPR button{cursor:pointer;color:inherit;font-family:inherit}#diviaGDPR button{outline:0;border:none;-moz-appearance:none;appearance:none;-webkit-appearance:none;appearance:none}#diviaGDPR em,#diviaGDPR strong{font-weight:700;font-family:inherit}#diviaGDPR a:hover{text-decoration:none;cursor:pointer}#diviaGDPR a:focus,#diviaGDPR input:focus{outline:0;list-style:none}#diviaGDPR.light{background-color:#fff;background-color:var(--diviaGDPRLight);color:#393d4d;color:var(--diviaGDPRDark)}#diviaGDPR.light p,#diviaGDPR.light ul{color:#393d4d;color:var(--diviaGDPRDark)}#diviaGDPR.light h5{color:var(--diviaGDPRDark)}#diviaGDPR.light button#cookieReject{background:#fff;background:var(--diviaGDPRLight)}#diviaGDPR.dark{background-color:#393d4d;background-color:var(--diviaGDPRDark);color:#fff;color:var(--diviaGDPRLight)}#diviaGDPR.dark h5,#diviaGDPR.dark p,#diviaGDPR.dark ul{color:#fff;color:var(--diviaGDPRLight)}#diviaGDPR.dark button#cookieReject{background:0 0;color:#fff;color:var(--diviaGDPRLight);border:1px solid #fff;border:1px solid var(--diviaGDPRLight)}#diviaGDPR{-webkit-box-sizing:border-box;box-sizing:border-box;position:fixed;padding:15px;border-radius:10px;-webkit-box-shadow:0 6px 6px rgba(0,0,0,.25);box-shadow:0 6px 6px rgba(0,0,0,.25);font-family:inherit;z-index:999997}#diviaGDPR svg{display:block}#diviaGDPR.display-left{left:70px;bottom:70px;max-width:395px}#diviaGDPR.display-right{right:30px;bottom:30px;max-width:395px}#diviaGDPR.display-top{top:30px;width:800px;left:50%;margin-left:-400px}#diviaGDPR.display-bottom{bottom:30px;width:800px;left:50%;margin-left:-400px}#diviaGDPR.display-bottom .content-wrap,#diviaGDPR.display-top .content-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}#diviaGDPR.display-bottom .msg-wrap,#diviaGDPR.display-top .msg-wrap{max-width:65%;width:100%;margin-bottom:0}#diviaGDPR.display-bottom #cookieSettings,#diviaGDPR.display-top #cookieSettings{margin-bottom:0}#diviaGDPR.display-bottom #cookieTypes,#diviaGDPR.display-top #cookieTypes{margin-top:20px}#diviaGDPR .btn-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;font-weight:700;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 -5px;-ms-flex-wrap:wrap;flex-wrap:wrap}#diviaGDPR .title-wrap,#diviaGDPR h5,#diviaGDPR.display-bottom.full-width-true .btn-wrap button,#diviaGDPR.display-top.full-width-true .btn-wrap button{margin-bottom:10px}#diviaGDPR .btn-wrap button{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;padding:0 7px;margin:0 5px 10px;border-radius:20px;cursor:pointer;white-space:nowrap;min-width:130px;line-height:36px;border:none;font-family:inherit;font-size:16px;-webkit-transition:-webkit-box-shadow .3s;transition:box-shadow .3s;-o-transition:box-shadow .3s;transition:box-shadow .3s,-webkit-box-shadow .3s}#diviaGDPR .btn-wrap button:hover{-webkit-transition:-webkit-box-shadow .4s cubic-bezier(.25, .8, .25, 1),-webkit-transform .4s cubic-bezier(.25, .8, .25, 1);transition:box-shadow .4s cubic-bezier(.25, .8, .25, 1),transform .4s cubic-bezier(.25, .8, .25, 1),-webkit-box-shadow .4s cubic-bezier(.25, .8, .25, 1),-webkit-transform .4s cubic-bezier(.25, .8, .25, 1);-o-transition:box-shadow .4s cubic-bezier(.25, .8, .25, 1),transform .4s cubic-bezier(.25, .8, .25, 1);-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.3);box-shadow:0 2px 5px 0 rgba(0,0,0,.3);-webkit-transform:translate3d(0,-1px,0);transform:translate3d(0,-1px,0)}#diviaGDPR #cookieSettings{font-size:14px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;cursor:pointer;font-weight:400;margin-bottom:20px;text-decoration:underline}#diviaGDPR #cookieSettings svg{vertical-align:middle;margin-right:8px}#diviaGDPR h4{font-family:inherit;font-weight:700;font-size:18px}#diviaGDPR .title-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}#diviaGDPR .title-wrap svg{margin-right:10px}#diviaGDPR h5{font-family:inherit;font-weight:700;font-size:12px;text-transform:uppercase}#diviaGDPR p,#diviaGDPR ul{font-size:14px;margin-bottom:10px}#diviaGDPR p:last-child{margin-bottom:0;text-align:left}#diviaGDPR li{width:49%;display:inline-block}#diviaGDPR a{text-decoration:underline;padding-left:20px;font-size:14px;-webkit-transition:.3s ease-in;-o-transition:.3s ease-in;transition:.3s ease-in}#cookieTypes label{font-size:13px}#diviaGDPR button:disabled{opacity:.3}#diviaGDPR input[type=checkbox]{-webkit-appearance:auto;-moz-appearance:auto;appearance:auto;-webkit-font-smoothing:antialiased;text-rendering:optimizeSpeed;width:14px;height:14px;margin:4px 10px 0 0;display:block;float:left;position:relative;outline:0;border:none}#diviaGDPR input[type=checkbox]:checked:after{background:#d3d3d3;content:"\2714";color:grey}#diviaGDPR input[type=checkbox]:after{content:"";vertical-align:middle;text-align:center;line-height:13px;position:absolute;cursor:pointer;height:14px;width:14px;left:0;top:0;font-size:10px;background:#d3d3d3}#diviaGDPR.display-bottom.full-width-true,#diviaGDPR.display-top.full-width-true{width:100%;max-width:100%;left:auto;right:auto;bottom:auto;top:0;border-radius:0;margin:auto}#diviaGDPR.display-bottom.full-width-true{bottom:0;top:auto;-webkit-box-shadow:0 -3px 3px rgb(0 0 0 / 25%);box-shadow:0 -3px 3px rgb(0 0 0 / 25%)}#diviaGDPR.display-bottom.full-width-true .title-wrap,#diviaGDPR.display-top.full-width-true .title-wrap{display:none}@media only screen and (max-width:800px){#diviaGDPR.display-bottom,#diviaGDPR.display-top{width:100%;max-width:100%;left:auto;right:auto;bottom:auto;top:0;border-radius:0;margin:auto}#diviaGDPR.display-bottom{bottom:0;top:auto;-webkit-box-shadow:0 -3px 3px rgb(0 0 0 / 25%);box-shadow:0 -3px 3px rgb(0 0 0 / 25%)}#diviaGDPR.display-bottom .btn-wrap button,#diviaGDPR.display-top .btn-wrap button{margin-bottom:10px}#diviaGDPR.display-bottom .msg-wrap,#diviaGDPR.display-top .msg-wrap{margin-right:20px}}#divia-gdpr{position:fixed;bottom:20px;height:55px;width:55px;left:20px;cursor:pointer;background:#000;opacity:.5;border-radius:50%;text-align:center;z-index:9999;overflow:hidden;-moz-box-shadow:0 6px 5px #595959;-webkit-box-shadow:0 6px 5px #595959;box-shadow:0 6px 5px #595959}#divia-gdpr img{width:43px;padding-top:10px}#divia-gdpr:hover{opacity:1}@media only screen and (max-width :800px){#divia-gdpr{bottom:80px}#diviaGDPR.display-left,#diviaGDPR.display-right{bottom:141px}#diviaGDPR{padding:10px}#diviaGDPR #cookieSettings{margin-bottom:5px}#diviaGDPR.display-left{max-width:315px}#diviaGDPR .btn-wrap button{line-height:30px;margin:0 5px 5px}}
html {
  overflow-x: hidden !important;
}
body {
  position: relative;
  overflow-x: hidden !important;
}
.mobile {
   display: none;
}
.whatsapp-desktop {
	display: initial;
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 9999;
	text-align: center;
}
.whatsapp-desktop img {
	width: 60px;
}
.whatsapp-desktop img:hover {
	transform: scale(1.10);
	opacity:0.8; 
	transition: all 0.3s ease-out;
}
.whatsapp-desktop .whatsapp-text {
	background: var(--whatsapp);
	color: #FFF;
	font-size: 17px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.t-mobile {
    display: none;
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-weight: bold;
}

.d-mobile {
    position: fixed;
    width: 100%;    
    display: none;
    bottom: 0;
    font-size: 14px;
    z-index: 999;
    text-align: center;
}
.t-mobile a, .d-mobile a {
    color: #FFF;
}
.d-mobile .d-phone {
    width: 50%;
    float: left;
    background-color: var(--principal);
    padding: 20px 0;
}
.d-mobile .d-whats {
    width: 50%;
    float: right;
    background-color: var(--whatsapp);
    padding: 20px 0;
}
.breadcrumbs-wrap {
	background-color: #f8f8f8;
  padding: 20px 0;
}
.breadcrumbs {
	font-size: 13px;
	line-height: 18px;
}
.breadcrumbs, .breadcrumbs a {
	color: #9b9b9b;
}
.breadcrumbs > * {
  position: relative;
}
.breadcrumbs > a:after {
  content: '/';
  display: inline-block;
  padding: 0 4px 0 5px;
}
.modal-sm .modal-header {
	background: #FFF; text-align: center;
}
.modal-sm .modal-header img {
	max-height: 30px; margin: 0 auto;
}
.modal-sm .modal-body {
	font-size: 14px !important; text-align: center; font-weight: 900; color: #000;
}
.modal-sm .modal-body hr {
	background-color: #000;
}
.modal-sm .modal-footer .btn {
	width: 100%;
}
.modalPhone2 .modal-body {
	padding: 100px 0;
}
.modalPhone2 .modal-body .t1 {
	font-size: 24px !important; text-align: center; font-weight: 900; color: var(--principal);
}
.modalPhone2 .modal-body .t2 {
	text-align: center; font-weight: 900; font-size: 24px; margin: 30px 0
}
.modalPhone2 .modal-body .t3 {
	text-align: center; 
}
.modalPhone2 .modal-body .t3 .btn {
	background: var(--principal); padding: 0 30px; font-size: 26px; border-color: var(--principal);
}
.btn_whats {
	border-radius:4px; white-space: inherit; cursor: pointer !important; background: var(--whatsapp); color: #FFF !important; padding: 10px 15px; border: 1px solid var(--whatsapp);
}
.btn_whats:hover {
	color: var(--whatsapp) !important; background: #FFF !important; opacity:0.8; transition: all 0.3s ease-out;
}
.btn_phone {
	border-radius:4px; white-space: inherit; cursor: pointer !important; background: var(--principal); color: #FFF !important; padding: 10px 15px; border: 1px solid var(--principal);
}
.btn_phone:hover {
	color: var(--principal) !important; background: #FFF !important; opacity:0.8; transition: all 0.3s ease-out;
}
.btn_phone2 {
  border-radius:4px; white-space: inherit; cursor: pointer !important; background: var(--secundaria); color: #FFF !important; padding: 10px 15px; border: 1px solid var(--secundaria);
}
.btn_phone2:hover {
  color: var(--secundaria) !important; background: #FFF !important; opacity:0.8; transition: all 0.3s ease-out;
}
.form_banner {
  position: absolute; 
  right: 100px; 
  top: 100px;  
  z-index: 9; 
  padding: 30px 40px 10px; 
  width: 400px;
  box-shadow: -2px -2px 6px 0 rgba(0,0,0,.1);
  background-color: #525e6c;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.form_banner.interna {
	position: relative;
	right: initial;
	top: initial;
  max-width: 100%;
}
.form_banner h4 {
	color: #FFF;
	font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 10px;
}
.form_banner p {
	color: #FFF;
	margin-bottom: 25px !important;
	font-size: 16px;
	line-height: 20px;
}
.form_banner .form-group {
	margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
}
.form_banner .form-control {
  background: #ffffff;
  border-color: #ffffff;
  color: #657380;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  padding: 12px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 2px solid #e8ebed;
  box-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: initial;
}
.form_banner select.form-control {
  padding:  5px;
}
.form_banner .btn {
	background: var(--principal);
  color: #FFF;
  border-color: var(--principal);
	display: inline-block;
	width: 100%;
  color: #ffffff;
  padding: 11px 18px;
  margin-bottom: 7px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  vertical-align: middle;
  white-space: pre-line;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.form_banner .btn:hover {opacity:0.7}
.box_contact_form {
  text-align: center;
  margin-top: 30px;
  padding: 50px 30px 40px 30px;
  background-color: var(--secundaria);
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}
.box_contact_form h5 {
  font-size: 1.15rem;
  margin-bottom: 35px;
  color: #FFF;
  margin-bottom: 10px;
}
.box_contact_form ul {
  position: relative;
  padding: 0;
  margin: 0;
}
.box_contact_form ul li {
  position: relative;
  text-align: left;
  line-height: 1.9em;
  color: var(--principal);
  padding-left: 50px;
  margin-bottom: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.box_contact_form ul li i {
  position: absolute;
  left: 0px;
  top: 10px;
  line-height: 1em;
  font-size: 34px;
  color: var(--principal);
}
.preloader_divia { 
    position:fixed; 
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%;
    z-index:999999; 
    background-color:#ffffff; 
    background-position:center center;
    background-repeat:no-repeat; 
    background-image:url(../img/logo.png);
}
/* Pagination */
.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #707070;
    background-color: #fff;
    border: 1px solid #dee2e6;
    margin-left: 5px;
}

.pagination li span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    margin-left: 5px;
}

.pagination li.active span {
    background: var(--principal);
    color: #FFF !important;
    font-weight: bold;
}

.pagination li a:hover {
    color: var(--principal);
    border: 1px solid var(--principal);
}
.policy {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #000;
  box-shadow: 6px 4px 10px #00000047;
  opacity: 0.8;
  padding: 10px;
  color: #FFF;
  z-index: 9999;
}
.policy p {
  color: #FFF;
}
.policy a {
  color: #FFF; 
  text-decoration: underline;
  cursor: pointer;
  display: initial;
}
.policy .policy_btn {
  color: #FFF; 
  padding: 5px 10px; 
  border: 1px solid #FFF;
}
.icon-color {
  color: var(--principal);
}
.logo-rodape {
  max-width: 70%;
  padding-left: 1rem;
  margin-top: -3rem;
}
.img-principal {
  max-width: 70%;
  border-radius: 2rem;
}
.img-fisico {
  height: 22rem;
}
.iframe-instragram {
  padding-left: 18rem;
}
.icon-product {
  max-width: 70%;
  border-radius: 4rem;
}
.pbminfotech-box-content:hover{
  background: var(--secundaria);
}
@media only screen and (max-width : 991px) {
  .iframe-instragram {
    padding-left: 0.6rem;
  }
  .img-fisico {
    height: 14rem;
  }
.img-principal {
    margin-left: 3rem;
  }
}
@media only screen and (min-width : 1500px) {
    .form_banner {
      right: 170px;
      top:  120px;
    }
}
@media only screen and (max-width : 1200px) {
  .form_banner {
    right: 50px;
    top:  100px;
  }
}
@media only screen and (max-width : 800px) {
    .d-mobile, .t-mobile {
        display: block;
    }
    .mobile {
        display: initial;
    }
    .desktop {
        display: none;
    }
    .divia {
        margin: 0 auto;
        text-align: center !important;
        margin-top: 20px;
        margin-bottom: 70px;
    }
		.form_banner {
		  position: relative;
		  right: 0;
		  top: 0;
		  width: 100%;
		}
    .whatsapp-desktop {
    	display: none;
    }
    .policy {
    	bottom: 70px;
    }
}

/* SITE */
.color-white {
  color: white;
}

.social-1 {
  height: 30px !important;
  width: 30px !important;
}

.padd-top-6 {
  padding-top: 6px;
}

.padd-top-10 {
  padding-top: 10px;
}

.iframe-youtube {
  height: 650px;
  width: 560px;
}

@media only screen and (max-width : 991px) {
  .iframe-youtube {
    height: 300px;
    width: 325px;
  }
}

.icon-principal {
 max-width: 65%;
 padding-bottom: 10px;
}